article.content-container {
  transform: translateX(-100vw);
  transition: all 0.4s;
  position: fixed;
  top: 12vh;
  left: 5vw;
  width: 45vw;
  height: 83vh;
  background-color: rgba(27, 13, 7, 0.4);
  color: #edeadfe6;
  padding: 2rem;
  overflow-x: hidden;
  overflow-y: auto;

  p {
    margin-bottom: 1.5vh;
  }

  ul,
  li {
    display: block;
  }

  ul {
    margin-bottom: 2vh;
  }
}

:checked ~ article.content-container {
  transform: translate(0);
}
